<!DOCTYPE html>
<html>
<head>
  <title>Address Book - List Contacts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>A New Contact Was Created:</h1>
    <h3>List contact details here</h3>
    <a href="/create_contact">Create a New Contact</a>
    <a href="/list_contacts">List All Contacts</a>
  </div>
</body>
</html>