<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="whiteBox">
      <h1>Welcome to your Address Book</h1>
      <p>
        <a href="/list_contacts" class="btn btn-info" role="button">List All Contacts</a>
      </p>
      <p>
        <a href="/create_contact" class="btn btn-info" role="button">Create a New Contact</a>
      </p>
    </div>
  </div>
</body>
</html>